html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6b0f9c;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition: 
        /* fontsize 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), */
        fontsize 0.5s cubic-bezier(.41,.03,.32,.92),
        flex 0.5s cubic-bezier(.41, .03, .32, .92),
        background 0.3s;
    font-size: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1 { 
    background-image:url(images/ashAndJones.JPG); 
    font-weight: bold;
}
.panel2 { 
    background-image:url(images/izAndKen.JPG); 
    font-weight: bold;
}
.panel3 { 
    background-image:url(images/z.JPG); 
    /* color: red; */
    font-weight: bold;
}
.panel4 { 
    background-image:url(images/Oliver.JPG); 
    font-weight: bold;
}
.panel5 { 
    background-image:url(images/Sahana.JPG); 
    font-weight: bold;
}

/* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size: 40px;
    transition: flex 0.5s ease, font-size 0.3s ease;
}

@media screen and (max-width: 844px) and (max-height: 390px) and (orientation: landscape) {
    .panel {
        background-size: cover;
        background-repeat: no-repeat;
        /* flex: 1; */
    }
    
    .panels {
        flex-direction: row;

    }
    .panel.open {
        flex: 5; /* Expand the clicked panel */
        transition: flex 0.5s ease, font-size 0.3s ease;
    }
    
    /* .panel.open-active p {
        opacity: 1;   Make text fully visible 
        transform: translateY(0); Transition text into view 
    } */
}

/* @media screen and (max-width: 900px) and (orientation: landscape) {
   

    .panel {
        flex: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .panel.open {
        flex: 3;
    }
    
    .panel p {
        font-size: 1em;
    }

    .panel p:nth-child(2) {
        font-size: 2em;
    }
} */

/* @media only screen and (max-width: 600px) {
    .panel p {
        font-size: 1em;
    }
} */

/* @media screen and (max-width: 500px) {
    .panel {
        background-size: contain;
        font-size: 12px;
    }
    .panel p {
       font-size: 0.8em; 
    }

    .panel p:nth-child(2) {
        font-size: 1.5em;
    }
}  */

/* @media only screen and (max-width: 480px) {
   
    .panel {
        flex: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .panel p {
        font-size: 1.2 em;
    }

    .panel p:nth-child(2) {
        font-size: 2em;
    }

    .panel.open {
        flex: 2.5;
    }
} */